<!DOCTYPE html>
<html lang="es"> xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudiante | Salas computo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    
    <nav
        class="nav justify-content-center"
    >
        <!-- <a class="nav-link active" href="#" aria-current="page"
            >Cosa1</a
        > -->
        <a class="nav-link" href="estudiante.html">Estudiante</a>
        <a class="nav-link" href="profesor.html">Profesor</a>
        <a class="nav-link" href="computador.html">Computador</a>
        <a class="nav-link" href="portatil.html">Portatil</a>
        <a class="nav-link" href="sala.html">Sala</a>
    </nav>

    
    
    
    <label style="width: 100%; text-align: center; margin: 20px;">Ingresar estudiante</label>
    <div
    class="container-sm"
    style="width: 35%;"
    >

        <form th:action="@{/estudiante/crear}" th:object="${estudiante}" method="post">

            <div class="mb-3">
                <label for="inputEstudianteNombre" class="form-label">Nombre estudiante</label>
                <input
                type="text"
                class="form-control"
                required
                autocomplete="off"
                th:field = "*{nombre}"
                />
            </div>


            <div class="mb-3">
                <label for="inputEstudianteContraseña" class="form-label">Contraseña estudiante</label>
                <input
                    type="text"
                    class="form-control"
                    required
                    autocomplete="off"
                    th:field = "*{contraseña}"
                />
            </div>

            <div class="mb-3">
                <label for="selectEstudianteCarrera" class="form-label">Carrera estudiante</label>
                <select
                    class="form-select form-select-lg"
                    th:field = "*{carrera}"
                >
                    <!-- <option selected></option> -->
                    <option value="ing. sistemas">Ing. Sistemas</option>
                    <option value="filosofia">Filosofia</option>
                    <option value="matematicas">Matematicas</option>
                    <option value="derecho">Derecho</option>
                    <option value="ingles">Ingles</option>
                </select>
            </div>

            <button
                type="submit"
                class="btn btn-primary"
                style="width: 100%;"
            >
                Ingresar estudiante
            </button>

        </form>

    </div>

    <div
        class="container"
    >
        
        

    </div>
    

    <label style="width: 100%; text-align: center; margin: 20px;">Estudiantes ingresados</label>

</body>
</html>